<div
  class="card-container"
  style="display: flex; flex-wrap: wrap; gap: 1rem; justify-content: center"
>
  <p-card
    *ngFor="let pokemon of allPokemon"
    [style]="{ width: '25rem', overflow: 'hidden' }"
  >
    <ng-template #header>
      <div style="display: flex; justify-content: center; align-items: center">
        <img
          alt="Card"
          class="w-full"
          style="height: 200px; width: auto"
          [src]="getPokemonImage(pokemon)"
        />
      </div>
    </ng-template>
    <ng-template #title>
      <div style="text-align: center">{{ pokemon.name }}</div>
    </ng-template>
    <ng-template #subtitle>
      <div style="text-align: center">Pokemon type</div>
    </ng-template>
    <p style="text-align: center">Pokemon Level</p>
  </p-card>
</div>
